/*.header{
	background-color: #1abc9c;
}*/

body {
    background-color: #34495e;
}

.bollywood {
    background-color: #e67e22;
}

.bollywood h3 {
    /*margin-top: 11px;*/
    margin: auto;
    margin-bottom: 10px;
    /*padding-top: 9px;*/
    color: white;
    margin-left: 593px;
    padding: 35px;
}

.bollywood .card {
    margin: auto;
}

.bollywood .card-img-top {
    border-bottom-style: solid;
    border-width: 5px;
    border-color: green;
    /*overflow: hidden;*/
}

.bollywood img.card-img-top {
    overflow: hidden;
}

.bollywood .card-img-top:hover {
    transform: scale(1.4);
    transition: scale 1s ease-in;
    filter: brightness(.5);
}

.bollywood .card-title h4,
a {
    margin: auto;
    margin-left: 69px;
}

.bollywood .card-img-top {
    height: 327px;
}

#filter h3{
        margin-left: 351px;
    padding: 38px;
}

ul li{
    list-style: none;
    color: white;
}

ul li ul li a{
    float: left;
    margin:auto;
    color: white;
}

#footer{
        padding: 30px;
        background-color: #2c3e50;
}
#partner .row{

padding-left: 81px;

}

#filter{
    background-color:#9b59b6;
}

#filter .row{
    padding-left: 210px;
}

#p1 {
        margin-left: 248px;
}

#p2 {
    font-size: 15;
    margin: auto;
}